@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}



<section class="services wrapper"></section>
<div class="content-body">
    <div class="m-l m-r">
    </div>
    <a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>
    <div class="page-body bg-gray page-about">
        <div class="container">
            <div class="row">
                <div class="col-xxs-12 col-lg-10 m-x-auto">
                    <section class="card card-lg" id="about-about">
                        <h1 class="text-xxxl m-b-sm m-t-sm text-xxs-center"><center><b></b>- Our Mission -</b></center></h1>
             <center><b>     <p  style="font-family:'Lucida Calligraphy';font-size:large;letter-spacing:2px;line-height:200%;text-decoration-color:grey">To provide the most actionable app store data.</p></b></center>
                        <center>
                            <h2 class="text-xxl m-b text-xxs-center">About</h2>
                        </center>
                        <div class="text-xs text-justify m-x-auto">
<center> <p class="m-b-xs"><b><p style="font-family:'Lucida Calligraphy';font-size:large;letter-spacing:2px;line-height:200%;text-decoration-color:grey">The concept of ‘Affordable Art’ is very much an in-thing and XYZ Art Gallery once again vouches on providing the best of contemporary and modern art works to its audience and collectors/buyers at the most convenient and affordable price. To make them readily available to the collectors, XYZ has concentrated and devised easier ways to make the sale and purchase through online art shop available in the online galleries apart from direct sales from the galleries’ physical sites. Buy Art Online is the simplest trading mechanism, XYZ is providing to its collectors and viewers where you can make the best of your deals, also bid and buy in the form of auction/s with full faith and conviction with every transparency of authenticity in each deal made.</p></b></p></center>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="video">
    <img src="@Url.Content("~/Content/mytemplate/")img/logo.jpg" alt="XYZ logo" style="width:109px;height:54px;" class="video_logo animated wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
    <h3 class="animated wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">who we are &amp; what we do</h3>
    <a href="https://youtu.be/hRJkxN4q0Fk" id="play_btn" class="fancybox animated wow flipInX animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: flipInX;"></a>
</section>
<div class="content-body">
    <div class="m-l m-r">
    </div>
