
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<br />
Please Note Down your UserID:  @TempData["User"] 
<br />
<br />
Thanks For Registering with us.
<br />
<div style="color:black">
    <a href="~/Home/Login" style="color:black">Back to Login</a>
</div>
